## Importação das LIBS

In [1]:
#Importando as bibliotecas
import types
import pandas as pd

## Importação dos DATASET

In [2]:
#Lendo os arquivos .CSV
df_codigo = pd.read_csv('codigo.csv', sep=';')
df_procedimento = pd.read_csv('procedimento.csv', sep=';')
df_DP = pd.read_csv('DPRS_M625.csv')
df_w0 = pd.read_csv('DPRS_w0.csv')
df_w1 = pd.read_csv('DPRS_w1.csv')
df_DS = pd.read_csv('DSRS_M625.csv')

## Mostrando o tamanha de cada dataset

In [3]:
# Tamanho do dataset codigo
df_codigo.shape

(115, 4)

In [4]:
# Tamanho do dataset procedimento
df_procedimento.shape

(1874, 2)

In [5]:
# Tamanho do dataset DP
df_DP.shape

(52, 8)

In [6]:
# Tamanho do dataset w0
df_w0.shape

(1336, 8)

In [7]:
# Tamanho do dataset w1
df_w1.shape

(2953, 8)

In [8]:
# Tamanho do dataset DS
df_DS.shape

(10, 8)

## Limpeza dos DADOS

In [9]:
#Trocando a nomeclatura da coluna 'Código' para 'codigo'
df_procedimento.rename(columns={'Código':'codigo'}, inplace=True)
df_DP.rename(columns={'PROC_REA':'codigo'}, inplace=True)
#Trocando a nomeclatura da coluna 'Código' para 'codigo'
df_procedimento.rename(columns={'Código':'codigo'}, inplace=True)
df_w0.rename(columns={'PROC_REA':'codigo'}, inplace=True)
#Trocando a nomeclatura da coluna 'Código' para 'codigo'
df_procedimento.rename(columns={'Código':'codigo'}, inplace=True)
df_w1.rename(columns={'PROC_REA':'codigo'}, inplace=True)
#Trocando a nomeclatura da coluna 'Código' para 'codigo'
df_procedimento.rename(columns={'Código':'codigo'}, inplace=True)
df_DS.rename(columns={'PROC_REA':'codigo'}, inplace=True)

In [10]:
#Merge foi utilizado para unir as tabelas conforme a coluna 'procedimento'
df_merge_DP = pd.merge(df_DP,df_procedimento, on='codigo')
df_merge_w0 = pd.merge(df_w0,df_procedimento, on='codigo')
df_merge_w1 = pd.merge(df_w1,df_procedimento, on='codigo')
df_merge_DS = pd.merge(df_DS,df_procedimento, on='codigo')

In [11]:
#Merge foi utilizado para unir as tabelas conforme a coluna 'codigo'
df_merge_DP = pd.merge(df_merge_DP,df_codigo, on='codigo')
df_merge_w0 = pd.merge(df_merge_w0,df_codigo, on='codigo')
df_merge_w1 = pd.merge(df_merge_w1,df_codigo, on='codigo')
df_merge_DS = pd.merge(df_merge_DS,df_codigo, on='codigo')

In [12]:
df_merge_DP['Serviço Hospitalar '] = df_merge_DP['Serviço Hospitalar '].str.replace('.','')#alterando de . para ,
df_merge_w0['Serviço Hospitalar '] = df_merge_w0['Serviço Hospitalar '].str.replace('.','')#alterando de . para ,
df_merge_w1['Serviço Hospitalar '] = df_merge_w1['Serviço Hospitalar '].str.replace('.','')#alterando de . para ,
df_merge_DS['Serviço Hospitalar '] = df_merge_DS['Serviço Hospitalar '].str.replace('.','')#alterando de . para ,

In [13]:
df_merge_DP['Serviço Hospitalar '] = df_merge_DP['Serviço Hospitalar '].str.replace(',','.').astype(float)#trocando de object para float
df_merge_w0['Serviço Hospitalar '] = df_merge_w0['Serviço Hospitalar '].str.replace(',','.').astype(float)#trocando de object para float
df_merge_w1['Serviço Hospitalar '] = df_merge_w1['Serviço Hospitalar '].str.replace(',','.').astype(float)#trocando de object para float
df_merge_DS['Serviço Hospitalar '] = df_merge_DS['Serviço Hospitalar '].str.replace(',','.').astype(float)#trocando de object para float

In [14]:
df_merge_DP['Serviço Profissional'] = df_merge_DP['Serviço Profissional'].str.replace(',','.').astype(float)#trocando de object para float
df_merge_w0['Serviço Profissional'] = df_merge_w0['Serviço Profissional'].str.replace(',','.').astype(float)#trocando de object para float
df_merge_w1['Serviço Profissional'] = df_merge_w1['Serviço Profissional'].str.replace(',','.').astype(float)#trocando de object para float
df_merge_DS['Serviço Profissional'] = df_merge_DS['Serviço Profissional'].str.replace(',','.').astype(float)#trocando de object para float

In [15]:
df_merge_DP['Total Hospitalar '] = df_merge_DP['Total Hospitalar '].str.replace('.','')#alterando de . para ,
df_merge_w0['Total Hospitalar '] = df_merge_w0['Total Hospitalar '].str.replace('.','')#alterando de . para ,
df_merge_w1['Total Hospitalar '] = df_merge_w1['Total Hospitalar '].str.replace('.','')#alterando de . para ,
df_merge_DS['Total Hospitalar '] = df_merge_DS['Total Hospitalar '].str.replace('.','')#alterando de . para ,

In [16]:
df_merge_DP['Total Hospitalar '] = df_merge_DP['Total Hospitalar '].str.replace(',','.').astype(float)#trocando de object para float
df_merge_w0['Total Hospitalar '] = df_merge_w0['Total Hospitalar '].str.replace(',','.').astype(float)#trocando de object para float
df_merge_w1['Total Hospitalar '] = df_merge_w1['Total Hospitalar '].str.replace(',','.').astype(float)#trocando de object para float
df_merge_DS['Total Hospitalar '] = df_merge_DS['Total Hospitalar '].str.replace(',','.').astype(float)#trocando de object para float

## Criando a coluna 'Valor_Total_DIAS_PERM'

In [17]:
novacoluna_DP = df_merge_DP['DIAS_PERM']*df_merge_DP['Total Hospitalar ']# calculando o total de dias com o total do valor por dia
novacoluna_w0 = df_merge_w0['DIAS_PERM']*df_merge_w0['Total Hospitalar ']# calculando o total de dias com o total do valor por dia
novacoluna_w1 = df_merge_w1['DIAS_PERM']*df_merge_w1['Total Hospitalar ']# calculando o total de dias com o total do valor por dia
novacoluna_DS = df_merge_DS['DIAS_PERM']*df_merge_DS['Total Hospitalar ']# calculando o total de dias com o total do valor por dia

In [21]:
df_merge_DP.insert(loc=12, column='Valor_Total_DIAS_PERM', value=novacoluna_DP)#Criando uma nova coluna com o nome Total_DIAS_PERM
df_merge_w0.insert(loc=12, column='Valor_Total_DIAS_PERM', value=novacoluna_w0)#Criando uma nova coluna com o nome Total_DIAS_PERM
df_merge_w1.insert(loc=12, column='Valor_Total_DIAS_PERM',value=novacoluna_w1)#Criando uma nova coluna com o nome Total_DIAS_PERM
df_merge_DS.insert(loc=12, column='Valor_Total_DIAS_PERM', value=novacoluna_DS)#Criando uma nova coluna com o nome Total_DIAS_PERM

##Concatenando um dataset em baixo do outro

In [22]:
#Colocando todos dataframe um em baixo do outro
df = pd.concat([df_merge_DP, df_merge_w0,df_merge_w1,df_merge_DS])

In [23]:
#Colocando todos dataframe em um unico dataframe
df_teste = pd.DataFrame(df[['DIAG_PRINC','Procedimento ','Total Hospitalar ']])

In [24]:
#Agrumando pela colunas 'DIAG_PRINC' e 'Procedimento '
df_grp = df_teste.groupby(['DIAG_PRINC','Procedimento '], as_index=False).sum()

## *Mostrando na tela o resultado*

> Bloco com avanço

In [25]:
#Monstrando as 30 primeiras linhas do dataframe
df_grp.head(30)

   DIAG_PRINC  ... Total Hospitalar
0        G819  ...             43.04
1        M625  ...            176.88
2        M625  ...            463.21
3        M625  ...           2790.62
4        M625  ...            344.32
5        W000  ...           1678.87
6        W000  ...             64.80
7        W000  ...             46.32
8        W000  ...             97.44
9        W000  ...            199.33
10       W000  ...             24.20
11       W000  ...             39.60
12       W003  ...             97.44
13       W004  ...             97.44
14       W007  ...            199.33
15       W008  ...             86.75
16       W008  ...             97.44
17       W009  ...             86.76
18       W009  ...            136.41
19       W009  ...            194.88
20       W010  ...            259.20
21       W010  ...            121.14
22       W010  ...            795.96
23       W010  ...            602.16
24       W010  ...            228.88
25       W010  ...            115.45
26       W010  ...           1075.00
27       W010  ...           1075.00
28       W010  ...            260.25
29       W010  ...           1301.40

[30 rows x 3 columns]